<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>

    <div class="container2">
        <div class="sol-kutu">
            <form action="/chatbot", method="POST">
                <textarea id="girisMetni" name="input" placeholder="Chatbot ile konuşun">{{ query }}</textarea>
                <button id="duzeltButonu" type="submit">Gönder</button>
            </form>
        </div>
        <div class="sag-kutu">
            <textarea id="ciktiMetni" placeholder="Cevap">{{ response }}</textarea>
        </div>
    </div>

</body>
</html>
